* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #dfe2df;
    font-family: 'open sans';
    background-image: url(img/Fondos_Pagina/Fondo-Hogar-1.jpg);
    background-size: cover;
}
.home-link {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999; /* Asegura que el icono esté sobre otros elementos */
    color: #fff; /* Color del icono */
    font-size: 24px; /* Tamaño del icono */
    text-decoration: none; /* Para quitar el subrayado del enlace */
}
.contenedor {
    width: 90%;
    max-width: 900px;
    margin: auto;
    height: auto; /* Cambiado a auto para que la altura se ajuste automáticamente */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tabla {
    width: 33%;
    height: auto; /* Cambiado a auto para que la altura se ajuste automáticamente */
    margin: auto;
    border: 1px solid #0a0a0a;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px #0c0c0c;
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    color: #080808;
    background-color: white;
}

.tabla>h2 {
    font-size: 30px;
    margin-bottom: 35px;
}

.tabla img {
    width: 64px;
    margin-bottom: 35px;
}

.tabla>h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.tabla>p {
    display: block;
    margin-bottom: 20px;
}

.boton {
    display: inline-block;
    width: 150px;
    padding: 12px;
    background: #a5f059;
    text-decoration: none;
    color: #343759;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: auto;
}

.tabla:hover {
    background: #343759;
    color: #f1f1f2;
    transition: .5s all;
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .tabla {
        width: 45%;
        max-width: none;
        margin-bottom: 40px;
        flex-grow: initial;
    }
}

@media screen and (max-width: 700px) {
    .tabla {
        width: 45%;
        padding: 30px;
    }
    .tabla>h2 {
        margin-top: 40px;
    }
}

@media screen and (max-width: 550px) {
    .tabla {
        width: 85%;
        padding: 20px;
    }
}

/* Estilos para "pagina-2" */
.pagina-2 {
    width: 100%; /* O ajusta el ancho según tus necesidades */
    margin-top: 20px; /* Espacio entre "pagina-2" y las tablas de membresía */
}

/* Estilos para el grupo 2 del footer en pantallas grandes */
.grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

/* Estilos para "pagina-2" */
.pagina-2 {
    width: 100%; /* O ajusta el ancho según tus necesidades */
    margin-top: 20px; /* Espacio entre "pagina-2" y las tablas de membresía */
}

.pagina-2 p {
    font-size: 28px; /* Tamaño de fuente para los párrafos */
}

.pagina-2 h2 {
    font-size: 28px; /* Tamaño de fuente para los títulos */
}

.pagina-2 ul {
    font-size: 26px; /* Tamaño de fuente para las listas */
}

.pagina-2 a {
    font-size: 2px; /* Tamaño de fuente para los enlaces */
}