@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    font-family: 'Montserrat', sans-serif,"Roboto";
    background-image: url(img/Fondos_Pagina/Fondo-Libro2.jpg);
   /* background-color:#90EE90;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    z-index: 100;
    background: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 47px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añadir sombra al header */
}

/* Estilos para el título dentro del encabezado */
#titulo-header {
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Añadir sombra al texto */
    margin-top: 5px; /* Ajustar el margen superior según sea necesario */
    margin-left: 180px; /* Ajustar el margen izquierdo para desplazar más hacia la derecha */
    transition: text-shadow 0.5s ease; /* Transición suave para el efecto */
}
/* Estilos para el título en el encabezado al pasar el cursor sobre él */
#titulo-header:hover {
    text-shadow: 
        0 0 5px #00ffea, /* Sombra de brillo */
        0 0 10px #00ffea, /* Sombra de brillo */
        0 0 15px #00ffea, /* Sombra de brillo */
        0 0 20px #00ffea, /* Sombra de brillo */
        0 0 25px #00ffea; /* Sombra de brillo */
}

/* Contenedor para opciones en el encabezado */
.box-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*gap: 10px; /* Espacio entre los elementos */
}

/* Contenedor para opciones específicas en el encabezado */
.box-options {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

/* Estilos para el filtro de búsqueda */
#filtro {
    display: block;
    margin: 50px auto; /* Ajusta el valor del margen superior según sea necesario */
    max-width: 300px; /* Ajusta el ancho máximo según sea necesario */
    padding: 5px;
    border: 1.5px solid #fff;
    background-color: #af9393;
    font-weight: 600;
    font-size: smaller;
    
}

#filtro:focus {
    outline: none;
    border-color: dodgerblue;
}

.boton-enlace,
#boton-carrito {
    height: 100%; /* Ajustar la altura al encabezado */
}


.dropdown {
    position: relative;
    display: inline-block;
    margin-top: auto;
}

#dropdown-categorias{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #af9393;
    border: 2px solid #333333;
    min-width: 160px;
    z-index: 1;
    border-end-end-radius: 1rem;
    border-end-start-radius: 1rem;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 2px solid #333333;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background-color: #444;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #444;
}


#boton-deseos {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: red; /* Cambia el color del corazón según tu preferencia */
}

.añadir-a-deseos {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.boton-enlace,

#boton-carrito {
    font-size: 14px; /* Reducir el tamaño del texto */
    padding: 5px 10px;
    background-color: transparent;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    cursor: pointer;
}


.boton-enlace:hover,

#boton-carrito:hover {
    background-color: orangered;
}


#mostrar-fantasia,
#mostrar-historia,
#mostrar-comics,
a[href="Ingresar.html"] {
    font-size: 16px;
    padding: 5px 10px;
    background-color: transparent;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    border: none;
}

#mostrar-fantasia:hover,
#mostrar-historia:hover,
#mostrar-comics:hover,
a[href="Ingresar.html"]:hover {
    background-color: orange;
    color: #fff;
    border: none;
}

a.boton-enlace,
a[href="Ingresar.html"]
 {
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
}

/* Contenedor para el carrito de compras */
#carrito-productos {
    margin-top: 80px; /* Ajusta este valor según la altura de tu encabezado */
}


/* Contenedor principal */
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Cada columna tendrá un ancho igual */
    gap: 20px; /* Espacio entre las celdas del grid */
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border: none !important;
}


/* Estilos para un solo producto */
.single-product {
    /* width: calc(20% - 36px); Elimina esta línea */
    height: auto;
    /* margin: 7px; Elimina esta línea */
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9); /* Color de fondo con transparencia */
    background: #414852;
    border-radius: 15px;
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: space-between; /* Alinea los elementos uniformemente en el espacio vertical */
}

 
.single-product:hover {
    transform: translateY(-10px);
}

/* Imagen del producto */
.product-image {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product-image:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.single-product:hover .overlay {
    opacity: 1;
}

.añadir-al-carrito {
    background-color: orangered;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.añadir-al-carrito:hover {
    background-color: orangered;
}


/* Descripción del producto */
.info {
    padding: 10px;
    text-align: center;
    color: #ddd;
}

.info h3 {
    margin: 15px 0 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
}

.info .price {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    color: aqua;
}

.titulo-1 {
    text-align: center;
    color: white;
    background-color: orange;
}

/* Estilos del cuadro de diálogo del carrito */
#carrito-container {
    /* Estilos para el cuadro de diálogo del carrito */
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    max-width: 80%; /* Ancho máximo del contenedor */
}
.cuadro-dialogo {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.contenido-cuadro-dialogo {
    margin-bottom: 10px;
}

/* Botones del cuadro de diálogo */
#cerrar-cuadro-dialogo,
#boton-comprar {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Añadir margen derecho para separar los botones */
}



#cerrar-cuadro-dialogo:hover,
#boton-comprar:hover {
    background-color: #d32f2f;
}

/* Botón para abrir el carrito */
#boton-carrito {
    
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 100%; /* Establecer la altura igual a la del encabezado */
}

#boton-carrito:hover {
    background-color: orangered;
}

/* Estilos para las categorías */
.categoria {
    font-size: 16px;
    padding: 5px 10px;
    background-color: transparent;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    border: none;
}

.categoria:hover {
    background-color: orange;
    color: #fff;
    border: none;
}

/* Estilos para el slider */
.slider-frame {
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

/* Estilos para los elementos del slider */
.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    justify-content: center; /* Centra las imágenes inicialmente */
    animation: slide 20s infinite alternate ease-in-out;
}

/* Estilos para cada elemento del slider */
.slider-frame li {
    width: 100%;
    list-style: none;
}

.slider-frame img {
    width: 40%;
}

/* Animación del slider */
@keyframes slide {
    0% { margin-left: 25%; } /* Cambia el valor de inicio para centrar */
    20% { margin-left: 25%; }
    
    25% { margin-left: -75%; }
    45% { margin-left: -75%; }
    
    50% { margin-left: -175%; }
    70% { margin-left: -175%; }
    
    75% { margin-left: -275%; }
    100% { margin-left: -275%; }
}

/* Estilos para las diapositivas */
.mySlides {
    display: none
}

/* Estilos para las imágenes */
img {
    max-width: 100%; /* Ajusta el tamaño máximo de las imágenes al ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de las imágenes */
    /* Otros estilos... */
    vertical-align: middle;

}

/* Estilos para los controles del carrusel */
.carousel-control-prev,
.carousel-control-next {
    color: black !important;
}

/* Estilos para el carrusel */
#carouselExampleCaptions {
    margin-top: 50px; /* Ajusta este valor según la cantidad de espacio que quieras entre el carrusel y el borde superior de la página */
}

.carousel-item img {
    width: 100%;
    height: 300px; /* Ajusta esta altura según tus necesidades */
    object-fit: cover; /* Esto asegura que la imagen se ajuste dentro del contenedor */
}

.membresias {
    letter-spacing: 2px; /* Reducir el espaciado entre letras */
    font-weight: bold;
    font-size: 25px;
    color: black;
    transition: color 0.3s ease;
}

.membresias:hover {
    color: red; /* Cambia el color del texto al pasar el cursor sobre él */
}

/* Estilos para el botón del banner */
#btn-banner {
    padding: .5rem;
    font-weight: bold;
    background-color: #000;
    letter-spacing: 3px;
    color: rgba(225, 230, 0);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#btn-banner:hover {
    background-color: red; /* Cambia el color de fondo del botón al pasar el cursor sobre él */
    color: white; /* Cambia el color del texto al pasar el cursor sobre él */
}

/* Estilos para el texto del banner */
.carousel-caption span,
.carousel-caption p {
    font-size: 20px; /* Ajusta el tamaño de la fuente según tus necesidades */
    color :black
}
.carousel-caption h3,
.carousel-caption p,
.carousel-caption .btn {
    color: black;
}

.carousel-caption .btn {
    background-color: black;
    color: rgba(225, 230, 0);
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

/* Estilos para la sección del carrusel de banners */
.carousel-caption h5 {
    font-size: 1.25rem;
    letter-spacing: 2px;
    color: black;
    transition: color 0.3s ease;
}

.carousel-caption h5:hover {
    color: red;
}

.carousel-caption .btn-banner {
    width: auto;
    height: auto;
    font-weight: bold;
    background-color: black;
    letter-spacing: 3px;
    color: rgba(225, 230, 0);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.carousel-caption .btn-banner:hover {
    background-color: red;
    color: white;
}

/* Aplicar una sombra al hacer clic en el botón */
#btn-banner:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra al hacer clic en el botón */
}

/* Estilos del título de la sección FAQ */
h1#titulo-faqs {
    font-size: 32px;
    color: rgb(8, 8, 8);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    cursor: pointer;
    display: inline-block; /* Asegura que el elemento ocupe solo el ancho del texto */
    text-align: center !important; /* Centra el texto */
    margin-left: calc(50% - 150px); /* Ajustamos el margen izquierdo para centrarlo */
    transition: text-shadow 0.5s ease; /* Transición suave para el efecto de brillo */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); /* Sombras blancas para resaltar el texto */
    
}

/* Aplicar el efecto de brillo al hacer hover */
h1#titulo-faqs:hover {
    text-shadow: 
        0 0 5px #00ffea, /* Sombra de brillo */
        0 0 10px #00ffea, /* Sombra de brillo */
        0 0 15px #00ffea, /* Sombra de brillo */
        0 0 20px #00ffea, /* Sombra de brillo */
        0 0 25px #00ffea; /* Sombra de brillo */
}

/* Animación del efecto de brillo */
@keyframes neon {
    0% {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Efecto de sombra inicial */
    }
    100% {
      text-shadow: 
        0 0 5px #00ffea, /* Sombra de brillo */
        0 0 10px #00ffea, /* Sombra de brillo */
        0 0 15px #00ffea, /* Sombra de brillo */
        0 0 20px #00ffea, /* Sombra de brillo */
        0 0 25px #00ffea; /* Sombra de brillo */
    }
}

/* Aplicar la animación al título de la sección FAQ */
h1#titulo-faqs:hover {
    animation: neon 1.5s infinite alternate; /* Aplicar animación de luces de neón al hacer hover */
}

  /* Estilos del acordeón FAQ */
.wrapper {
    max-width: 75%;
    margin: auto;
  }
  
  .wrapper > p,
  .wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
  }
  
  .wrapper > h1 {
    letter-spacing: 3px;
  }
  
  /* Contenedor para cada pregunta en el acordeón FAQ */
.accordion {
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); /* Sombras blancas para resaltar el texto */
}

.accordion i {
    font-size: 1.6rem;
}

.active,
.accordion:hover {
    background-color: transparent;
}
  
  /* Panel de respuesta en el acordeón FAQ */
  .pannel {
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    opacity: 0; /* Oculta la respuesta inicialmente */
    height: 0; /* Oculta el contenido de la respuesta y no ocupa espacio */
    transition: opacity 0.5s ease, height 0.5s ease; /* Agregar una transición para suavizar el efecto de aparición */
  }

  .pannel p{
    padding: 1rem;
    height: 100%;
  }
  
  .pannel.active {
    opacity: 1; /* Muestra la respuesta */
    height: auto; /* Muestra el contenido de la respuesta */
    background-color: #ffffcc; /* Color de fondo de resaltado */
    color: #fffafa; /* Cambiar el color del texto para que contraste */
    background-color:#414852
  }
  
  
  .faq {
    border: transparent;
    margin: 10px 0;
  }
  
  .faq.active {
    border: none;
  }


  /* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(1, 1fr); /* En dispositivos móviles, muestra un libro por fila */
    }

    .single-product {
        width: 100%; /* Un producto por línea en dispositivos móviles */
        margin: 10px 0; /* Espacio entre productos en dispositivos móviles */
    }

    #titulo-header {
        font-size: 20px; /* Tamaño de letra más pequeño para dispositivos móviles */
        margin-left: auto; /* Para centrar el título */
        margin-right: auto; /* Para centrar el título */
        text-align: center; /* Alinear el texto al centro */
    }

    #filtro {
        width: 60%; /* Reducir el ancho de la barra de búsqueda */
        margin: 50px auto; /* Centrar la barra de búsqueda y darle espacio hacia abajo */
        font-size: 16px; /* Ajustar el tamaño de fuente */
        padding: 8px; /* Ajustar el padding para que se vea bien en dispositivos móviles */
    }

    .box-options {
        margin-right: 1rem;
    }

    /* Asegurar que el encabezado no oculte el contenido de carritos al hacer scroll */
    #carrito-productos {
        margin-top: 110px; /* Ajusta este valor para dispositivos móviles */
    }

    
}
  