@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    font-family: 'Montserrat', sans-serif,"Roboto";
    background-image: url(img/Fondos_Pagina/Fondo-Hogar-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    z-index: 100;
    background: crimson;
    /*background: transparent;*/
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px; /* Reducir la altura del encabezado */
}


.header-top {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre los elementos */
}

#filtro,
.dropbtn,
.boton-enlace,
#dropdown-categorias,
#boton-carrito {
    height: 100%; /* Ajustar la altura al encabezado */
}

#filtro {
    flex: 1;
    padding: 5px;
    width: 100%;
    max-width: 200px; /* Reducir el ancho máximo del campo de búsqueda */
    border: none;
    background-color: #333;
    color: #fff;
}

.dropbtn,
.boton-enlace,
#dropdown-categorias,
#boton-carrito {
    font-size: 14px; /* Reducir el tamaño del texto */
    padding: 5px 10px;
    background-color: transparent;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.boton-enlace:hover,
#dropdown-categorias:hover,
#boton-carrito:hover {
    background-color: orangered;
}


#mostrar-fantasia,
#mostrar-historia,
#mostrar-comics,
a[href="Ingresar.html"] {
    font-size: 16px;
    padding: 5px 10px;
    background-color: transparent;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    border: none;
}

#mostrar-fantasia:hover,
#mostrar-historia:hover,
#mostrar-comics:hover,
a[href="Ingresar.html"]:hover {
    background-color: orange;
    color: #fff;
    border: none;
}

a.boton-enlace,
a[href="Ingresar.html"]
 {
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
}


/* Estilos para el enlace con icono */
.enlace-comun {
    display: inline-block; /* Asegura que el enlace ocupe solo el espacio del icono */
    width: 24px; /* Establece el ancho igual al del icono */
    height: 24px; /* Establece la altura igual al del icono */
    color: white;
    text-decoration: none; /* Elimina el subrayado */
}

.enlace-comun:hover {
    background-color: orange; /* Cambia el color de fondo al hacer hover */
}

#carrito-productos {
    margin-top: 80px; /* Ajusta este valor según la altura de tu encabezado */
}

/* Asegurar que el encabezado no oculte el contenido de carritos al hacer scroll */
@media screen and (max-width: 768px) {
    #carrito-productos {
        margin-top: 110px; /* Ajusta este valor para dispositivos móviles */
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Cada columna tendrá un ancho igual */
    gap: 20px; /* Espacio entre las celdas del grid */
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.single-product {
    /* width: calc(20% - 36px); Elimina esta línea */
    height: auto;
    /* margin: 7px; Elimina esta línea */
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
    overflow: hidden;
    background: #414852;
    border-radius: 15px;
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: space-between; /* Alinea los elementos uniformemente en el espacio vertical */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(1, 1fr); /* En dispositivos móviles, muestra un libro por fila */
    }

    .single-product {
        width: 100%; /* Un producto por línea en dispositivos móviles */
        margin: 10px 0; /* Espacio entre productos en dispositivos móviles */
    }
}
 
.single-product:hover {
    transform: translateY(-10px);
}

.product-image {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product-image:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(144, 204, 24, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.single-product:hover .overlay {
    opacity: 1;
}

.añadir-al-carrito {
    background-color: orangered;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.añadir-al-carrito:hover {
    background-color: orangered;
}



.info {
    padding: 10px;
    text-align: center;
    color: #ddd;
}

.info h3 {
    margin: 15px 0 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
}

.info .price {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    color: aqua;
}

.titulo-1 {
    text-align: center;
    color: white;
    background-color: orange;
}

/* slider */
.slider-frame {
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    justify-content: center; /* Centra las imágenes inicialmente */
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 100%;
    list-style: none;
}

.slider-frame img {
    width: 40%;
}

@keyframes slide {
    0% { margin-left: 25%; } /* Cambia el valor de inicio para centrar */
    20% { margin-left: 25%; }
    
    25% { margin-left: -75%; }
    45% { margin-left: -75%; }
    
    50% { margin-left: -175%; }
    70% { margin-left: -175%; }
    
    75% { margin-left: -275%; }
    100% { margin-left: -275%; }
}
/* slider */

/* Estilos del footer para pantallas grandes */
.pie-pagina {
    width: 100%;
    background-color: crimson;
    color: white;
}

/* Estilos para el grupo 1 del footer en pantallas grandes */
.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

/* Estilos para el grupo 2 del footer en pantallas grandes */
.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

/* Estilos para los íconos de redes sociales en pantallas grandes */
.pie-pagina .grupo-1 .red-social a {
    /* Si necesitas ajustar el tamaño de los íconos, puedes hacerlo aquí */
    display: inline-block;
    text-decoration: none;
    width: 45px; /* Tamaño de los íconos */
    height: 45px; /* Tamaño de los íconos */
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

/* Estilos para el texto en el footer en pantallas grandes */
.pie-pagina .grupo-2 small {
    font-size: 15px;
}

#datos-clima {
    text-align: center;
}

/* Estilos del footer para dispositivos móviles */
@media screen and (max-width: 768px) {
    .pie-pagina {
        padding: 15px 10px;
    }

    .pie-pagina .grupo-1 {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    
    .pie-pagina .grupo-1 .box figure img {
        width: 100px; /* Ajusta el tamaño de las imágenes de las redes sociales en dispositivos móviles */
    }
}

#carrito-container {
    /* Estilos para el cuadro de diálogo del carrito */
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    max-width: 80%; /* Ancho máximo del contenedor */
}
.cuadro-dialogo {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.contenido-cuadro-dialogo {
    margin-bottom: 10px;
}

#cerrar-cuadro-dialogo,
#boton-comprar {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Añadir margen derecho para separar los botones */
}



#cerrar-cuadro-dialogo:hover,
#boton-comprar:hover {
    background-color: #d32f2f;
}


#boton-carrito {
    background-color: crimson;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 100%; /* Establecer la altura igual a la del encabezado */
}

#boton-carrito:hover {
    background-color: orangered;
}
.categoria {
    font-size: 16px;
    padding: 5px 10px;
    background-color: transparent;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    border: none;
}

.categoria:hover {
    background-color: orange;
    color: #fff;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #444;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #444;
}

/* Agrega este código al final de tu archivo styles.css o en un bloque de estilo en el head de tu HTML */

#dropdown-categorias{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    
}

#boton-deseos {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: red; /* Cambia el color del corazón según tu preferencia */
}

.añadir-a-deseos {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.mySlides {
    display: none
}
img {
    max-width: 100%; /* Ajusta el tamaño máximo de las imágenes al ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de las imágenes */
    /* Otros estilos... */
    vertical-align: middle;

}
.carousel-control-prev,
.carousel-control-next {
    color: black !important;
}

#carouselExampleCaptions {
    margin-top: 50px; /* Ajusta este valor según la cantidad de espacio que quieras entre el carrusel y el borde superior de la página */
}

.carousel-item img {
    width: 100%;
    height: 300px; /* Ajusta esta altura según tus necesidades */
    object-fit: cover; /* Esto asegura que la imagen se ajuste dentro del contenedor */
}

h5 {
    letter-spacing: 2px; /* Reducir el espaciado entre letras */
    font-weight: bold;
    font-size: 25px;
    color: black;
    transition: color 0.3s ease;
}

h5:hover {
    color: red; /* Cambia el color del texto al pasar el cursor sobre él */
}
#btn-banner {
    width: 130px;
    height: 39px;
    font-weight: bold;
    background-color: black;
    letter-spacing: 3px;
    margin-left: 10px; /* Ajustar el margen izquierdo del botón */
    margin-top: 20px; /* Ajustar el margen superior del botón */
    color: rgba(225, 230, 0);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#btn-banner:hover {
    background-color: red; /* Cambia el color de fondo del botón al pasar el cursor sobre él */
    color: white; /* Cambia el color del texto al pasar el cursor sobre él */
}

.carousel-caption span,
.carousel-caption p {
    font-size: 20px; /* Ajusta el tamaño de la fuente según tus necesidades */
    color :black
}
.carousel-caption h3,
.carousel-caption p,
.carousel-caption .btn {
    color: black;
}

.carousel-caption .btn {
    background-color: black;
    color: rgba(225, 230, 0);
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

/* Estilos para la sección del carrusel de banners */
.carousel-caption h5 {
    font-size: 1.25rem;
    letter-spacing: 2px;
    color: black;
    transition: color 0.3s ease;
}

.carousel-caption h5:hover {
    color: red;
}

.carousel-caption .btn-banner {
    width: auto;
    height: auto;
    font-weight: bold;
    background-color: black;
    letter-spacing: 3px;
    color: rgba(225, 230, 0);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.carousel-caption .btn-banner:hover {
    background-color: red;
    color: white;
}

/* Aplicar una sombra al hacer clic en el botón */
#btn-banner:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra al hacer clic en el botón */
}

h1{
    color: white;
}
.wrapper {
    max-width: 75%;
    margin: auto;
  }
  
  .wrapper > p,
  .wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
  }
  
  .wrapper > h1 {
    letter-spacing: 3px;
  }
  
  .accordion {
    background-color: transparent;
    color: rgba(248, 245, 245, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  
  .accordion i {
    font-size: 1.6rem;
  }
  
  .active,
  .accordion:hover {
    background-color: transparent;
  }
  
  .pannel {
    padding: 0 2rem 2.5rem 2rem;
    overflow: hidden;
  }
  
  .pannel {
    padding: 0 2rem 2.5rem 2rem;
    overflow: hidden;
    opacity: 0; /* Oculta la respuesta inicialmente */
    height: 0; /* Oculta el contenido de la respuesta y no ocupa espacio */
    transition: opacity 0.5s ease, height 0.5s ease; /* Agregar una transición para suavizar el efecto de aparición */
  }
  
  .pannel.active {
    opacity: 1; /* Muestra la respuesta */
    height: auto; /* Muestra el contenido de la respuesta */
    background-color: #ffffcc; /* Color de fondo de resaltado */
    color: #0e0d0d; /* Cambiar el color del texto para que contraste */
  }
  
  
  .faq {
    border: transparent;
    margin: 10px 0;
  }
  
  .faq.active {
    border: none;
  }
  