<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MEMBRECIAS</title>
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/membresias.css">
</head>
<body>
    <!-- Icono de inicio -->
    <a href="../index.html" class="home-link">
        <i class="fas fa-home"></i>
    </a>
    <div class="contenedor">
        <div class="tabla">
            <h2>Básico</h2>
            <img src="png/1.png" alt="">
            <h3>100 <sup>$</sup></h3>
            <ul>
                <li>Descuentos exclusivos en libros seleccionados.</li>
                <li>Acceso prioritario a ofertas especiales y promociones.</li>
                <li>Suscripción gratuita al boletín informativo con recomendaciones de lectura.</li>
            </ul>
            <a href="" class="boton">Paga ahora</a>
        </div>
        <div class="tabla hover">
            <h2>Estandar</h2>
            <img src="png/2.png" alt="">
            <h3>200 <sup>$</sup></h3>
            <ul>
                <li>Descuentos adicionales en una amplia selección de libros.</li>
                <li>Envío gratuito o tarifas de envío reducidas.</li>
                <li>Acceso a una sección exclusiva de la página web con contenido editorial premium, como entrevistas con autores o tendencias literarias.</li>
            </ul>
            <a href="" class="boton">Paga ahora</a>
        </div>
        <div class="tabla">
            <h2>Premium</h2>
            <img src="png/3.png" alt="">
            <h3>300 <sup>$</sup></h3>
            <ul>
                <li>Descuentos significativos en todos los libros, incluyendo lanzamientos recientes.</li>
                <li>Envío gratuito en todos los pedidos.</li>
                <li>Acceso exclusivo a eventos virtuales o presenciales, como charlas con autores o clubes de lectura exclusivos para miembros.</li>
            </ul>
            <a href="" class="boton">Paga ahora</a>
        </div>
    </div>
    <footer>
        <!-- "pagina-2" -->
    <div class="pagina-2">
        <!-- Contenido de "pagina-2" -->
    </div>
    <!-- Pie de página -->
    <div class="grupo-2">
        <small>&copy; 2024<b>AureaLibros</b> - Todos los Derechos Reservados.</small>
    </div>
    </footer>
    
</body>
</html>
