* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f0f2f5;
    font-family: 'Open Sans', sans-serif;
    background-image: url('../../img/Fondos_Pagina/Fondo-Libro2.jpg');
    background-size: cover;

}

.home-link {
   
    top: 20px;
    left: 20px;
    z-index: 999;
    color: black;
    font-size: 24px;
    text-decoration: none;
}


.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.tabla {
    width: 30%;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tabla:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tabla h2 {
    background-color: #343759;
    color: #fff;
    padding: 20px;
    font-size: 24px;
    text-transform: uppercase;
}

.tabla img {
    width: 80px;
    margin: 20px 0;
}

.tabla h3 {
    font-size: 32px;
    color: #343759;
    margin-bottom: 20px;
}

.tabla ul {
    list-style: none;
    padding: 0 20px;
    margin-bottom: 20px;
    text-align: left;
}

.tabla ul li {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.tabla ul li::before {
    content: '\f00c'; /* FontAwesome check icon */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 0;
    color: #a5f059;
}

.boton {
    display: inline-block;
    width: 160px;
    padding: 12px;
    background: #a5f059;
    color: #343759;
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: background 0.3s ease, color 0.3s ease;
}

.boton:hover {
    background: #343759;
    color: #fff;
}

@media screen and (max-width: 1000px) {
    .tabla {
        width: 45%;
    }
}

@media screen and (max-width: 700px) {
    .tabla {
        width: 90%;
        padding: 20px;
    }
}
